<a href="https://colab.research.google.com/github/doaamhmd1012001/Doaa/blob/master/Copy_of_Copy_of_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (Dataset  Title here)
## by (your name here)

> Briefly introduce dataset here.



```
# import libraries
```

In [56]:
import pandas
import pandas as pd
import numpy as np
import os
import time
import sys
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
from datetime import datetime

```
#import your dataset 
```

In [38]:
from google.colab import drive
drive.mount('/content/books.csv')

Drive already mounted at /content/books.csv; to attempt to forcibly remount, call drive.mount("/content/books.csv", force_remount=True).

In [64]:
import os
for dirname, _, filenames in os.walk('/content/sample_data/books.csv'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [68]:
books = pd.read_csv('/content/sample_data/books.csv',error_bad_lines=False)
books[:]

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

       bookID  ...        publisher
0           1  ...  Scholastic Inc.
1           2  ...  Scholastic Inc.
2           4  ...       Scholastic
3           5  ...  Scholastic Inc.
4           8  ...       Scholastic
...       ...  ...              ...
11118   45631  ...    Da Capo Press
11119   45633  ...    Penguin Books
11120   45634  ...    Penguin Books
11121   45639  ...             Ecco
11122   45641  ...    Edimat Libros

[11123 rows x 12 columns]

In [69]:
books = books.drop(columns=['isbn', 'isbn13','bookID'])
books.head()

                                               title  ...        publisher
0  Harry Potter and the Half-Blood Prince (Harry ...  ...  Scholastic Inc.
1  Harry Potter and the Order of the Phoenix (Har...  ...  Scholastic Inc.
2  Harry Potter and the Chamber of Secrets (Harry...  ...       Scholastic
3  Harry Potter and the Prisoner of Azkaban (Harr...  ...  Scholastic Inc.
4  Harry Potter Boxed Set  Books 1-5 (Harry Potte...  ...       Scholastic

[5 rows x 9 columns]

In [70]:
books.columns

Index(['title', 'authors', 'average_rating', 'language_code', '  num_pages',
       'ratings_count', 'text_reviews_count', 'publication_date', 'publisher'],
      dtype='object')

In [73]:
books.columns = ['Title', 'Authors', 'Average_Rating', 'Language_Code', 'Num_Pages','Ratings_Count', 'Text_Reviews_Count', 'Publication_Date', 'Publisher']

In [74]:
books.describe()

       Average_Rating     Num_Pages  Ratings_Count  Text_Reviews_Count
count    11123.000000  11123.000000   1.112300e+04        11123.000000
mean         3.934075    336.405556   1.794285e+04          542.048099
std          0.350485    241.152626   1.124992e+05         2576.619589
min          0.000000      0.000000   0.000000e+00            0.000000
25%          3.770000    192.000000   1.040000e+02            9.000000
50%          3.960000    299.000000   7.450000e+02           47.000000
75%          4.140000    416.000000   5.000500e+03          238.000000
max          5.000000   6576.000000   4.597666e+06        94265.000000

In [75]:
top_rated_books = books.sort_values(by=['Average_Rating',], ascending=False)
top_rated_books

                                                   Title  ...                                          Publisher
624    Comoediae 1: Acharenses/Equites/Nubes/Vespae/P...  ...                       Oxford University Press  USA
9893   His Princess Devotional: A Royal Encounter Wit...  ...                                          Multnomah
4788   The Diamond Color Meditation: Color Pathway to...  ...                              Square One Publishers
9324                  Tyrannosaurus Wrecks (Stanley  #1)  ...                                       Disney Press
9720       The Irish Anatomist: A Study of Flann O'Brien  ...                                    Academica Press
...                                                  ...  ...                                                ...
6877   I'll Be Home Before Midnight and I Won't Get P...  ...                   Knopf Doubleday Publishing Group
3492   Brodie's notes on Aldous Huxley's brave new world  ...                                          Macmillan
2533          Insights: Talks On The Nature Of Existence  ...  Frederick P. Lenz Foundation for American Budd...
2532   How To Meditate: An Anthology Of Talks On Medi...  ...  Frederick P. Lenz Foundation for American Budd...
10497  The Fantastic Vampire: Studies in the Children...  ...                                    Greenwood Press

[11123 rows x 9 columns]

In [76]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               11123 non-null  object
 1   Authors             11123 non-null  object
 2   Average_Rating      11123 non-null  float64
 3   Language_Code       11123 non-null  object
 4   Num_Pages           11123 non-null  int64
 5   Ratings_Count       11123 non-null  int64
 6   Text_Reviews_Count  11123 non-null  int64
 7   Publication_Date    11123 non-null  object
 8   Publisher           11123 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 782.2+ KB

In [77]:
top_rated_books = books.sort_values(by=['Average_Rating',], ascending=False)
top_rated_books

                                                   Title  ...                                          Publisher
624    Comoediae 1: Acharenses/Equites/Nubes/Vespae/P...  ...                       Oxford University Press  USA
9893   His Princess Devotional: A Royal Encounter Wit...  ...                                          Multnomah
4788   The Diamond Color Meditation: Color Pathway to...  ...                              Square One Publishers
9324                  Tyrannosaurus Wrecks (Stanley  #1)  ...                                       Disney Press
9720       The Irish Anatomist: A Study of Flann O'Brien  ...                                    Academica Press
...                                                  ...  ...                                                ...
6877   I'll Be Home Before Midnight and I Won't Get P...  ...                   Knopf Doubleday Publishing Group
3492   Brodie's notes on Aldous Huxley's brave new world  ...                                          Macmillan
2533          Insights: Talks On The Nature Of Existence  ...  Frederick P. Lenz Foundation for American Budd...
2532   How To Meditate: An Anthology Of Talks On Medi...  ...  Frederick P. Lenz Foundation for American Budd...
10497  The Fantastic Vampire: Studies in the Children...  ...                                    Greenwood Press

[11123 rows x 9 columns]

In [78]:
top_rated_books = [x for x in books['Ratings_Count']>100 ]

In [79]:
top_rated_books = books[top_rated_books]

In [80]:
top_rated_books = top_rated_books.sort_values(by=['Average_Rating',], ascending=False)

In [85]:
top_rated_books = top_rated_books[:100]
top_rated_books
top_rated_books.describe()
top_rated_authors = top_rated_books["Authors"].value_counts()[:20]
top_rated_authors.head()
top_num_pages = top_rated_books["Num_Pages"]
top_num_pages
top_num_pages.mean()
most_popular_books = books.sort_values(by=['Ratings_Count','Text_Reviews_Count','Num_Pages'], ascending=False)[:20]
most_popular_books
most_popular_hundred = books.sort_values(by=['Ratings_Count','Text_Reviews_Count'], ascending=False)[:100]
most_popular_authors = most_popular_hundred["Authors"].value_counts()[:20]
most_popular_authors

popular_num_pages = most_popular_hundred["Num_Pages"]
popular_num_pages

10336    501
1697     366
1462     277
307      736
3        435
        ...
7810     176
4156     496
4076     370
8448     400
5082     311
Name: Num_Pages, Length: 100, dtype: int64

**Find the mean, median, standard deviation**

In [86]:
popular_num_pages.mean()

377.59

In [88]:
most_popular_books = most_popular_books[['Title','Authors']]
most_popular_books.head(5)

                                                   Title                     Authors
10336                            Twilight (Twilight  #1)             Stephenie Meyer
1697                 The Hobbit  or There and Back Again              J.R.R. Tolkien
1462                              The Catcher in the Rye               J.D. Salinger
307                 Angels & Demons (Robert Langdon  #1)                   Dan Brown
3      Harry Potter and the Prisoner of Azkaban (Harr...  J.K. Rowling/Mary GrandPré

In [89]:
publishers_most_books = books["Publisher"].value_counts()

In [90]:
publishers_most_books.head(20)

Vintage                         318
Penguin Books                   261
Penguin Classics                184
Mariner Books                   150
Ballantine Books                144
Harper Perennial                112
HarperCollins                   112
Pocket Books                    111
Bantam                          110
VIZ Media LLC                    88
Berkley                          86
Dover Publications               85
Modern Library                   82
Del Rey                          80
Tor Books                        76
Grand Central Publishing         76
Oxford University Press  USA     75
Scribner                         73
Oxford University Press          73
W. W. Norton  Company            68
Name: Publisher, dtype: int64

**Create a normalized form whose values range exactly between 0 and 1 so that the minimum has value 0 and maximum has value 1.**

In [91]:
publishers_most_books.max()

318

In [97]:
publishers_most_books.min()

1

In [95]:
author_most_books = books["Authors"].value_counts()
author_most_books.max()

40

In [96]:
author_most_books.min()

1

In [98]:
round(publishers_most_books.mean(),2)

4.86

In [99]:
round(author_most_books.mean(),2)

1.68

**Compute the softmax score**

In [ ]:
Books.csv["sat_verbal"].max()

**Find the number and position of missing values**

In [ ]:
positions=which(is.na(Books))

SyntaxError: ignored

** italicized textSelect the rows that does not have any value**

In [ ]:
SELECT *
FROM table
WHERE colume_name = some_value

** **bold text**Find the unique values and the count of unique values**

In [ ]:
df = df.ID.groupby([df.books.str.strip("'")]).nunique()
print (df)

NameError: ignored

**Find the most frequent value of dataset**

In [ ]:
dataframe['books'].value_counts().idxmax()

> Write the structure  of your dataset here

----

# Type of data analysis
## Univariate
> is a term commonly used in statistics to describe a type of data which consists of observations on only a single characteristic or attribute.

>Univariate analysis is the simplest form of analyzing data. “Uni” means “one”, so in other words your data has only one variable.

## Bivariate
>In statistics, bivariate data is data on each of two variables, where each value of one of the variables is paired with a value of the other variable. Typically it would be of interest to investigate the possible association between the two variables.

>Bivariate analysis is one of the simplest forms of quantitative (statistical) analysis. It involves the analysis of two variables (often denoted as X, Y), for the purpose of determining the empirical relationship between them.

## Multivariate
>Multivariate statistics is a subdivision of statistics encompassing the simultaneous observation and analysis of more than one outcome variable. The application of multivariate statistics is multivariate analysis.

>Multivariate analysis is based on the principles of multivariate statistics, which involves observation and analysis of more than one statistical outcome variable at a time.

![picture](https://drive.google.com/uc?export=view&id=1ors5QRIf6ISa-aidarRJ6A0-ueY31hk9)

------

# Univariate
> Make at least one chart
,write your observation under every chart

------

# Bivariate
> Make at least one chart
,write your observation under every chart

----

# Multivariate
> Make at least one chart
,write your observation under every chart

----

# SUMMERY

>here write your summery about dataset

>List at least three insights.

1. 
1. 
1.

# Useful references

* [Python Guide](https://docs.python.org/3/tutorial/index.html)  
[Python Guide](https://www.w3schools.com/python/)
* [Data Cleaning Guide](https://towardsdatascience.com/data-cleaning-in-python-the-ultimate-guide-2020-c63b88bf0a0d)
* [Pandas Guide](https://pandas.pydata.org/docs/user_guide/index.html)
* [Matplotlib Examples](https://matplotlib.org/gallery/index.html)

* [Seaborn Examples](https://seaborn.pydata.org/examples/index.html)